workflow-vivebien.json
{
  "name": "Recomendaciones Diarias Vive Bien",
  "nodes": [
    {
      "id": "vb-001",
      "name": "Diario 9am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        380
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "vb-002",
      "name": "Leer Contactos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        280
      ],
      "parameters": {
        "method": "GET",
        "url": "https://firestore.googleapis.com/v1/projects/vivebien-f4027/databases/(default)/documents/contactos?key=AIzaSyAX8OiWKAdAG5i6YIrYDbcfg6iYJBsf0ok&pageSize=300",
        "options": {}
      }
    },
    {
      "id": "vb-003",
      "name": "Leer Leads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        480
      ],
      "parameters": {
        "method": "GET",
        "url": "https://firestore.googleapis.com/v1/projects/vivebien-f4027/databases/(default)/documents/leads?key=AIzaSyAX8OiWKAdAG5i6YIrYDbcfg6iYJBsf0ok&pageSize=300",
        "options": {}
      }
    },
    {
      "id": "vb-004",
      "name": "Leer Envios de Hoy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        680
      ],
      "parameters": {
        "method": "GET",
        "url": "https://firestore.googleapis.com/v1/projects/vivebien-f4027/databases/(default)/documents/envios?key=AIzaSyAX8OiWKAdAG5i6YIrYDbcfg6iYJBsf0ok&pageSize=500",
        "options": {}
      }
    },
    {
      "id": "vb-005",
      "name": "Combinar Todo",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        740,
        480
      ],
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      }
    },
    {
      "id": "vb-006",
      "name": "Filtrar y Preparar Contactos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        980,
        480
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Obtener datos con fallback si algún nodo no ejecutó aún\nlet contactosResp = {}, leadsResp = {}, enviosResp = {};\ntry { contactosResp = $('Leer Contactos').first().json; } catch(e) {}\ntry { leadsResp = $('Leer Leads').first().json; } catch(e) {}\ntry { enviosResp = $('Leer Envios de Hoy').first().json; } catch(e) {}\n\nfunction parseDoc(doc) {\n  const f = doc.fields || {};\n  return {\n    nombre: f.nombre?.stringValue || 'Cliente',\n    email: (f.email?.stringValue || '').toLowerCase().trim(),\n    interes: (f.interes?.stringValue || f.propiedad?.stringValue || 'nave').toLowerCase()\n  };\n}\n\n// Validacion basica de formato de email\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\n\nconst todos = [\n  ...(contactosResp.documents || []),\n  ...(leadsResp.documents || [])\n].map(parseDoc).filter(c => c.email && emailRegex.test(c.email));\n\nconst hoy = new Date().toISOString().slice(0, 10);\nconst enviadosHoy = new Set(\n  (enviosResp.documents || [])\n    .map(d => d.fields || {})\n    .filter(f => (f.fecha?.stringValue || '').startsWith(hoy))\n    .map(f => (f.email?.stringValue || '').toLowerCase())\n    .filter(Boolean)\n);\n\nconst emailsVistos = new Set();\nconst pendientes = todos.filter(c => {\n  if (!c.email || emailsVistos.has(c.email) || enviadosHoy.has(c.email)) return false;\n  emailsVistos.add(c.email);\n  return true;\n});\n\nconsole.log(`Total: ${todos.length} | Enviados hoy: ${enviadosHoy.size} | Pendientes: ${pendientes.length}`);\nreturn pendientes.map(c => ({ json: c }));"
      }
    },
    {
      "id": "vb-007",
      "name": "Maximo 99 por dia",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1220,
        480
      ],
      "parameters": {
        "maxItems": 99
      }
    },
    {
      "id": "vb-008",
      "name": "Generar Email HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1460,
        480
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const BASE_URL = 'https://grupo-p-once.github.io/ViveBien';\n\nconst propiedades = {\n  nave: {\n    badge: 'NAVE INDUSTRIAL',\n    badgeColor: '#1B365D',\n    titulo: 'Bodega Industrial • 1,244 m²',\n    subtitulo: 'Blvd. San Juan Bosco, Cañada del Refugio',\n    precio: '$118,180 MXN + IVA / mes',\n    precioLabel: 'Renta mensual',\n    features: ['1,244 m² totales', 'Oficinas en 3 niveles', 'Altura para maniobras', 'Acceso a Blvd. Hidalgo'],\n    imagen: BASE_URL + '/3vive_bien_fotos/naves/sanjuanbosco/foto1.jpg',\n    enlace: BASE_URL + '/propiedades.html#naves'\n  },\n  terreno: {\n    badge: 'TERRENO INDUSTRIAL',\n    badgeColor: '#279546',\n    titulo: 'Terreno Industrial Panan II',\n    subtitulo: 'Cluster Industrial Panan II, Silao, Gto.',\n    precio: 'Precio a consultar', \n    precioLabel: 'Disponible',\n    features: ['600 m² por lote', 'Seguridad 24/7', 'Acceso pavimentado', 'Uso industrial'],\n    imagen: BASE_URL + '/3vive_bien_fotos/terrenos/terreno_panam_silao_venta/foto1.jpg',\n    enlace: BASE_URL + '/propiedades.html#terrenos'\n  },\n  casa: {\n    badge: 'RESIDENCIAL',\n    badgeColor: '#8B1A1A',\n    titulo: 'Casas Residenciales en León',\n    subtitulo: 'Zonas exclusivas de León, Guanajuato',\n    precio: 'Desde $1,800,000 MXN',\n    precioLabel: 'Precio de venta',\n    features: ['Acabados de lujo', 'Seguridad privada', 'Jardín y estacionamiento', 'Zonas premium'],\n    imagen: 'https://images.unsplash.com/photo-1512917774080-9991f1c4c750?w=600&auto=format',\n    enlace: BASE_URL + '/propiedades.html#casas'\n  },\n  comercial: {\n    badge: 'LOCAL COMERCIAL',\n    badgeColor: '#D97706',\n    titulo: 'Locales Comerciales',\n    subtitulo: 'Zonas de alta afluencia, León, Gto.',\n    precio: 'Precio a consultar',\n    precioLabel: 'Disponible',\n    features: ['Alta afluencia', 'Visibilidad garantizada', 'Ideal para franquicias', 'Excelente ubicación'],\n    imagen: 'https://images.unsplash.com/photo-1497366216548-37526070297c?w=600&auto=format',\n    enlace: BASE_URL + '/propiedades.html#comerciales'\n  }\n};\n\nconst interes = ($json.interes || '').toLowerCase();\nlet prop = propiedades.nave;\nif (interes.includes('terreno')) prop = propiedades.terreno;\nelse if (interes.includes('casa') || interes.includes('residencial') || interes.includes('depto')) prop = propiedades.casa;\nelse if (interes.includes('comercial') || interes.includes('local')) prop = propiedades.comercial;\nelse if (interes.includes('nave') || interes.includes('bodega') || interes.includes('industrial')) prop = propiedades.nave;\n\nconst nombre = $json.nombre || 'Cliente';\nconst asunto = `🏠 Vive Bien – Tu propiedad ideal está aquí: ${prop.titulo}`;\nconst fecha = new Date().toLocaleDateString('es-MX', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' });\n\nconst featuresHTML = prop.features.map(f => `\n  <tr><td style=\"padding:5px 0\">\n    <table cellpadding=\"0\" cellspacing=\"0\" style=\"font-family:Arial,sans-serif;font-size:14px;color:#333333\">\n      <tr>\n        <td style=\"padding-right:10px\">\n          <div style=\"width:20px;height:20px;background:${prop.badgeColor};border-radius:50%;text-align:center;line-height:20px\">\n            <span style=\"color:#ffffff;font-size:11px;font-weight:bold;line-height:20px;display:block\">✓</span>\n          </div>\n        </td>\n        <td style=\"vertical-align:middle\">${f}</td>\n      </tr>\n    </table>\n  </td></tr>`).join('');\n\nconst html = `<!DOCTYPE html>\\n<html lang=\"es\">\\n<head>\\n<meta charset=\"UTF-8\">\\n<meta name=\"viewport\" content=\"width=device-width,initial-scale=1\">\\n<title>${asunto}</title>\\n</head>\\n<body style=\"margin:0;padding:0;background:#EAEFF4;font-family:Georgia,serif\">\\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#EAEFF4\">\\n<tr><td align=\"center\" style=\"padding:30px 10px\">\\n  <table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:600px;width:100%;background:#ffffff;border-radius:10px;overflow:hidden\">\\n    <!-- TOP BAR -->\\n    <tr><td style=\"background:#8B1A1A;padding:12px 30px\">\\n      <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr>\\n        <td style=\"color:#ffffff;font-family:Arial,sans-serif;font-size:14px;font-weight:700;letter-spacing:1px\">VIVE BIEN</td>\\n        <td align=\"right\" style=\"color:#ffffff;font-family:Arial,sans-serif;font-size:11px;opacity:0.8\">${fecha}</td>\\n      </tr></table>\\n    </td></tr>\\n    <!-- HERO BANNER -->\\n    <tr><td style=\"padding:0\">\\n      <a href=\"${prop.enlace}\" style=\"display:block;text-decoration:none\">\\n        <img src=\"${prop.imagen}\" width=\"600\" style=\"width:100%;max-width:600px;height:auto;display:block;border:none\" alt=\"${prop.titulo}\">\\n      </a>\\n    </td></tr>\\n    <!-- MAIN CONTENT -->\\n    <tr><td style=\"background:#ffffff;padding:32px 36px\">\\n      <p style=\"margin:0 0 10px;font-size:18px;color:#1B365D;font-family:Georgia,serif\">Hola, <strong>${nombre}</strong></p>\\n      <p style=\"margin:0 0 24px;font-size:14px;color:#333333;font-family:Arial,sans-serif;line-height:1.6\">Encontramos una propiedad que coincide con lo que buscas. No dejes pasar esta oportunidad — el inventario es limitado.</p>\\n      \\n      <div style=\"margin-bottom:20px\">\\n        <span style=\"background:${prop.badgeColor};color:#ffffff;font-family:Arial,sans-serif;font-size:10px;font-weight:800;letter-spacing:1px;padding:4px 10px;border-radius:4px;text-transform:uppercase\">${prop.badge}</span>\\n        <h1 style=\"margin:12px 0 4px;color:#1B365D;font-size:24px;font-family:Georgia,serif\">${prop.titulo}</h1>\\n        <p style=\"margin:0;color:#666666;font-family:Arial,sans-serif;font-size:13px\">📍 ${prop.subtitulo}</p>\\n      </div>\\n\\n      <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#8B1A1A;border-radius:8px;margin-bottom:24px\">\\n        <tr><td style=\"padding:15px 24px\">\\n          <p style=\"margin:0;font-family:Arial,sans-serif;font-size:11px;color:#ffffff;opacity:0.8;text-transform:uppercase;letter-spacing:1px\">${prop.precioLabel}</p>\\n          <p style=\"margin:4px 0 0;font-family:Arial,sans-serif;font-size:26px;font-weight:800;color:#ffffff\">${prop.precio}</p>\\n        </td></tr>\\n      </table>\\n\\n      <p style=\"margin:0 0 12px;font-family:Arial,sans-serif;font-size:13px;font-weight:700;color:#1B365D;text-transform:uppercase;letter-spacing:.5px\">Características</p>\\n      <table cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:28px\">\\n        ${featuresHTML}\\n      </table>\\n\\n      <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr><td align=\"center\">\\n        <a href=\"${prop.enlace}\"\\n           style=\"display:inline-block;background:#8B1A1A;color:#ffffff;font-family:Arial,sans-serif;font-size:16px;font-weight:700;padding:16px 48px;border-radius:50px;text-decoration:none;border:1px solid #8B1A1A\">\\n          Ver esta propiedad &rarr;\\n        </a>\\n      </td></tr></table>\\n    </td></tr>\\n\\n    <!-- WHATSAPP BAR -->\\n    <tr><td style=\"background:#F0F4F8;padding:18px 36px;border-top:1px solid #E2E8F0\">\\n      <table width=\"100%\"><tr>\\n        <td style=\"font-family:Arial,sans-serif;font-size:13px;color:#333333\">¿Quieres más información?</td>\\n        <td align=\"right\">\\n          <a href=\"https://wa.me/524778116501\" style=\"display:inline-block;background:#25D366;color:#ffffff;font-family:Arial,sans-serif;font-size:13px;font-weight:700;padding:8px 16px;border-radius:20px;text-decoration:none\">\\n            WhatsApp\\n          </a>\\n        </td>\\n      </tr></table>\\n    </td></tr>\\n    <!-- FOOTER CON LOGO GRUPO PONCE -->\\n    <tr><td style=\"background:#1B365D;padding:30px 36px;border-radius:0 0 10px 10px;text-align:center\">\\n      <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\\n        <tr><td align=\"center\" style=\"padding-bottom:15px\">\\n          <table align=\"center\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#ffffff;border-radius:50%;width:64px;height:64px;border-collapse:separate\">\\n            <tr><td align=\"center\" valign=\"middle\" style=\"padding:12px;width:64px;height:64px\">\n              <img src=\"${BASE_URL}/logo-p11-blanco.png\" width=\"40\" style=\"display:block;width:40px;height:auto;max-width:40px;object-fit:contain\" alt=\"Grupo Ponce\">\n            </td></tr>\\n          </table>\\n        </td></tr>\\n        <tr><td align=\"center\">\\n          <p style=\"margin:0;font-family:Arial,sans-serif;font-size:12px;color:#ffffff;font-weight:700;letter-spacing:0.5px\">VIVE BIEN GRUPO INMOBILIARIO</p>\\n          <p style=\"margin:4px 0 0;font-family:Arial,sans-serif;font-size:11px;color:#cccccc\">Una empresa de Grupo P-ONCE</p>\\n          <p style=\"margin:15px 0 0;font-family:Arial,sans-serif;font-size:10px;color:#999999\">León, Guanajuato, México. &copy; 2026</p>\\n        </td></tr>\\n      </table>\\n    </td></tr>\\n  </table>\\n</td></tr>\\n</table>\\n</body>\\n</html>`;\n\nconst firebasePayload = JSON.stringify({\n  fields: {\n    email: { stringValue: $json.email },\n    nombre: { stringValue: nombre },\n    asunto: { stringValue: asunto },\n    fecha: { stringValue: new Date().toISOString().slice(0, 10) },\n    timestamp: { stringValue: new Date().toISOString() }\n  }\n});\n\nreturn [{ json: { email: $json.email, nombre, asunto, emailHtml: html, firebasePayload } }];"
      }
    },
    {
      "id": "vb-009",
      "name": "Enviar por Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1700,
        480
      ],
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "={{ $json.asunto }}",
        "emailType": "html",
        "message": "={{ $json.emailHtml }}",
        "options": {
          "senderName": "Vive Bien Grupo Inmobiliario",
          "replyTo": "grupo.p.11.ee@gmail.com",
          "appendAttribution": false
        }
      }
    },
    {
      "id": "vb-010",
      "name": "Guardar Registro Envio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1940,
        480
      ],
      "parameters": {
        "method": "POST",
        "url": "https://firestore.googleapis.com/v1/projects/vivebien-f4027/databases/(default)/documents/envios?key=AIzaSyAX8OiWKAdAG5i6YIrYDbcfg6iYJBsf0ok",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ $json.firebasePayload }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Diario 9am": {
      "main": [
        [
          {
            "node": "Leer Contactos",
            "type": "main",
            "index": 0
          },
          {
            "node": "Leer Leads",
            "type": "main",
            "index": 0
          },
          {
            "node": "Leer Envios de Hoy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Contactos": {
      "main": [
        [
          {
            "node": "Combinar Todo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Leads": {
      "main": [
        [
          {
            "node": "Combinar Todo",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Leer Envios de Hoy": {
      "main": [
        [
          {
            "node": "Combinar Todo",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Combinar Todo": {
      "main": [
        [
          {
            "node": "Filtrar y Preparar Contactos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar y Preparar Contactos": {
      "main": [
        [
          {
            "node": "Maximo 99 por dia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Maximo 99 por dia": {
      "main": [
        [
          {
            "node": "Generar Email HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Email HTML": {
      "main": [
        [
          {
            "node": "Enviar por Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar por Gmail": {
      "main": [
        [
          {
            "node": "Guardar Registro Envio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}